[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = f1eld0125
	email = 128466529+f1eld0125@users.noreply.github.com
